table,
.w-100 {
  width: 100%;
  padding: 1%;
}
td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  width: 17%;
  padding-left: 5px !important;
}

tr.mat-footer-row,
tr.mat-row {
  cursor: pointer;
}